.checkoutButton {
  border: none;
  color: black;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: aquamarine;
  border-radius: 5px;
  width: 100%;
}

.circle {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.circle_selected {
  background-color: yellow;
  border: 2px solid yellow;
}

.circleButton {
  border: none;
  width: 200;
  height: 200;
  background-color: transparent;
}

.circleButton :hover {
  width: 215px;
  height: 215px;
}

.column {
  padding: 0 8px;
  /* border: 2px solid red; */
  width: 400px;
  height: 600px;
  overflow: scroll;
}
.column::-webkit-scrollbar{
  display: none;
}

.container {
  padding: 0 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 800px;
  /* border: 2px solid orange; */
}

.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
}

.itemTitle {
  display: inline;
}

.list {
  list-style-type: none;
}

.listItem {
  display: inline;
}

.nextButton {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: aquamarine;
  border-radius: 5px;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
}

.nextOptionButton {
  border: none;
  color: black;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: aquamarine;
  border-radius: 5px;
  width: 100%;
}

.nextButton:disabled,
.nextOptionButton:disabled {
  display: none;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.optionButton {
  font-size: 17px;
  line-height: 1.25;
  width: 150px;
  height: auto;
  border-radius: 12px;
  border: 1.5px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  text-align: center;
  background-color: white;
  cursor: pointer;
  margin-right: 16px;
}

.optionButton:hover {
  border-color: gray;
  border-width: 1px;
}

.option_selected, .option_selected:hover {
  border: 1.5px solid blue;
}

.optionHeader {
  font-weight: 400;
  font-size: 18px;
}

.productTitle {
  font-size: 30px;;
}

.pictureColumn {
  padding:8px;
  /* border: 2px solid plum; */
  width: 550px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantityTitle {
  display: inline;
  /* border: 1px solid green; */
  max-lines: 2;
  width: 200px;
  font-size: 18px;
}

.quantityInput {
  width: 100px;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
  margin-left: 8px;
}

.row {
  border: 3px solid rebeccapurple;
  padding: 20px;
  width: 100%;
  justify-content: space-between;
  display: flex;
}


.summaryImage {
  width: 200px;
  height: 150px;
  background-color: aqua;
}

.summaryRow {
  padding: 12px;
  width: 500px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.summaryText {
  padding: 8px;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  font-weight: 500;
  padding: 1rem 0 2rem;
  text-align: center;
}