@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "theinhardt";
  src: url("../public/fonts/Theinhardt-Regular.otf");
}
@font-face {
  font-family: "theinhardt-italics";
  src: url("../public/fonts/Theinhardt-RegularIta.otf");
  font-style: italic;
}
@font-face {
  font-family: "theinhardt-300";
  src: url("../public/fonts/Theinhardt-Light.otf");
  font-weight: 300;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  color-scheme: dark;
}

.btn {
  text-transform: none;
}